<div class="section">
  <p>1) Подносилац - име, презиме, адреса и држављанство аутора или другог носиоца ауторског права ако је подносилац физичко лице, односно пословно име и седиште носиоца ауторског права ако је подносилац правно лице * :</p>
  <div class="form-row">

    <app-author-info></app-author-info>

    <label for="phone">телефон:</label>
    <input type="text" id="phone" name="telefon">
    <label for="email">e-mail:</label>
    <input type="email" id="email" name="email">
  </div>
</div>
