<div class="container" [ngClass]="{'single-section': isAuthorSubmitting, 'two-sections': !isAuthorSubmitting}">
  <div class="left-section">
    <div class="card">
      <p>Подаци о подносиоцу пријаве</p>
      <app-user-info-form [formGroup]="userInfoGroup"></app-user-info-form>

      <label>Да ли аутор подноси пријаву?</label><br>
      <label>
        <input type="radio" name="isAuthorSubmitting" [(ngModel)]="isAuthorSubmitting" [value]="true">
        Да
      </label>
      <label>
        <input type="radio" name="isAuthorSubmitting" [(ngModel)]="isAuthorSubmitting" [value]="false">
        Не
      </label>
    </div>
  </div>

  <div class="right-section" *ngIf="isAuthorSubmitting === false">
    <div class="card">
      <p>Информације о аутору</p>
<!--      <app-author-info-form [authorInfoGroup]="fizickoForm.get('authorInfo')"></app-author-info-form>-->

      <app-author-info-form
        [authorInfoGroup]="authorInfoGroup"
        [isAnonymousAuthor]="fizickoForm.get('isAnonymousAuthor')?.value"
        (anonymousAuthorChanged)="fizickoForm.get('isAnonymousAuthor')?.setValue($event)">
      </app-author-info-form>






    </div>
  </div>
</div>
