<div *ngIf="document">
  <h2>Detalji dokumenta</h2>
  <p><strong>Broj zahteva:</strong> {{ document.requestNumber }}</p>
  <p><strong>Ime autora:</strong> {{ document.authorName }}</p>
  <p><strong>Naslov dela:</strong> {{ document.workTitle }}</p>
  <p><strong>Tip dela:</strong> {{ document.workType }}</p>
  <p><strong>Forma zapisa:</strong> {{ document.recordForm }}</p>
  <p><strong>Status:</strong> {{ document.status }}</p>
  <p><strong>Pun naziv zahteva:</strong> {{ document.fullRequest }}</p>
</div>
