<div *ngIf="!userRole || userRole === ''" class="sidenav">
  <a routerLink="">Home</a>
  <a routerLink="/search">Search</a>
  <a routerLink="/login">Login</a>
</div>

<div *ngIf="userRole === 'CITIZEN'" class="sidenav">

  <a routerLink="">Profile</a>
  <a routerLink="">Search</a>
  <a routerLink="">Submit Request</a>

  <a routerLink="/login" (click)="$event.preventDefault(); logout()">Logout</a>
</div>

<div *ngIf="userRole === 'OFFICIAL'" class="sidenav">

  <a routerLink="">Profile</a>
  <a routerLink="">Pending Requests</a>
  <a routerLink="">Decisions</a>
  <a routerLink="">Reports</a>
  <a routerLink="">Metadata Download</a>


  <a routerLink="/login" (click)="$event.preventDefault(); logout()">Logout</a>
</div>
