<div class="container" >
  <div class="left-section">
    <div class="card">
      <form [formGroup]="punomocnikForm">
      <p>Подаци о подносиоцу пријаве</p>
      <app-user-info-form [formGroup]="userInfoGroup"></app-user-info-form>
      </form>
    </div>
  </div>

  <div class="right-section">

    <div class="card">
      <p>Информације о аутору</p>

      <div *ngFor="let authorGroup of authors.controls; let i = index">
        <h3>Аутор {{ i + 1 }}</h3>

        <app-author-info-form [authorInfoGroup]="getAuthorGroup(i)" [authorIndex]="i"></app-author-info-form>

        <button *ngIf="authors.length > 1" (click)="removeAuthor(i)">Уклони аутора</button>
        <hr>
      </div>

      <button (click)="addAuthor()">Додај још једног аутора</button>

    </div>
  </div>



</div>
