<label>Да ли је ауторско дело анонимног аутора?</label><br>
<label>
  <input type="radio" name="anonymousAuthor_{{ authorIndex }}" [value]="true"
         [checked]="authorInfoGroup.get('isAnonymousAuthor')?.value"
         (change)="authorInfoGroup.get('isAnonymousAuthor')?.setValue(true)">
  Да
</label>
<label>
  <input type="radio" name="anonymousAuthor_{{ authorIndex }}"
         [value]="false"
         [checked]="!authorInfoGroup.get('isAnonymousAuthor')?.value"
         (change)="authorInfoGroup.get('isAnonymousAuthor')?.setValue(false)">
  Не
</label>

<div *ngIf="!authorInfoGroup.get('isAnonymousAuthor')?.value">
  <app-user-info-form [formGroup]="authorInfoGroup"></app-user-info-form>
</div>
