<div class="card">
  <h3>Прилози уз пријаву</h3>
  <p>Питање: Које прилоге достављате уз пријаву? (чеклиста)</p>

  <form [formGroup]="attachmentsForm">
    <div *ngFor="let attachment of attachmentOptions">
      <label>
        <input type="checkbox" [formControlName]="attachment.controlName" />
        {{ attachment.label }}
      </label>
    </div>

    <label>
      Друго:
      <input type="text" formControlName="otherAttachment" placeholder="Упишите други прилог" />
    </label>

    <div class="file-upload">
      <label for="file">📎 Изаберите фајлове за прилог:</label><br />
      <input type="file" (change)="onFileSelected($event)" multiple />
    </div>
  </form>

  <div class="mt-4">
    <strong>Изабрани прилози:</strong>
    <ul>
      <li *ngFor="let item of selectedAttachments">{{ item }}</li>
      <li *ngIf="attachmentsForm.value.otherAttachment">Друго: {{ attachmentsForm.value.otherAttachment }}</li>
    </ul>
  </div>

  <div class="mt-4" *ngIf="selectedFiles.length > 0">
    <strong>Отпремљени фајлови:</strong>
    <ul>
      <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
    </ul>
  </div>
</div>
