
<div class="form-row">
  <label for="name">Име:</label>
  <input type="text" id="name" name="name">

  <label for="lastname">Презиме:</label>
  <input type="text" id="lastname" name="lastname">

  <label for="city">Град:</label>
  <input type="text" id="city" name="city">

  <label for="street">Улица:</label>
  <input type="text" id="street" name="street">

  <label for="street-num">Број:</label>
  <input type="number" id="street-num" name="street-num">

  <label for="citizenship">Држављанство:</label>
  <input type="text" id="citizenship" name="citizenship">

</div>
